/* Turn this into SASS. */
body #cookie-banner {
	align-items: center;
	background-color: #414141;
	border-top: 1px solid #515151;
	bottom: 0;
	color: #fff;
	display: flex;
	display: none;
	font-family: Verdana,Arial,sans-serif;
	font-size: 16px;
	justify-content: center;
	left: 0;
	line-height: 1;
	padding: 20px;
	position: fixed;
	right: 0;
	z-index: 9999999;
}

body #cookie-banner #container-cookie {
	align-items: center;
	display: flex;
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
}

@media(max-width:768px) {
	body #cookie-banner #container-cookie {
		align-items: stretch;
		flex-direction: column;
	}
}

body #cookie-banner a {
	color: #fff;
	text-decoration: underline;
}

body #cookie-banner a:focus,
body #cookie-banner a:hover {
	color: #fff;
	text-decoration: none;
}

body #cookie-banner a:active {
	text-decoration: underline;
}

body #cookie-banner .cookie-banner-text {
	font-size: .8em;
	line-height: 1.5;
	max-width: 100%;
	padding: 0 30px 0 0;
	text-align: left;
}

@media(max-width:768px) {
	body #cookie-banner .cookie-banner-text {
		margin-bottom: 10px;
		margin-top: 0;
		max-width: 100%;
		text-align: center;
	}
}

body #cookie-banner button.cookie-accept-button {
	background: none #007fae;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-family: Verdana,Arial,sans-serif;
	font-size: .8em;
	margin: 5px 10px;
	padding: 8px 10px;
	text-shadow: none;
	transition: background-color .5s;
	white-space: nowrap;
}

body #cookie-banner button.cookie-accept-button:focus,
body #cookie-banner button.cookie-accept-button:hover {
	background-color: #000;
}

body #cookie-banner button.cookie-accept-button:active {
	background-color: #007fae;
}